@import url('../variables.css');

#background-img>* {
  color: var(--black);
}

#background-img {
  margin: 0 !important;
  padding: 0 0 min(40%, 80px) 0;
  background-image: url('../../img/background/hero.jpg');
  background-size: cover;
  background-position: top;
  background-repeat: repeat;
}

#background-img>div {
  text-align: center;
  margin-top: 80px;
}

main>* {
  color: var(--polar);
}

main {
  height: max-content;
  display: flex;
  padding: 0; /* Por conta do Body Default Padding*/
}

aside {
  width: 20vw;
  height: auto;
  box-shadow: var(--inner-shadow);
  background-color: black;
}
