form {
  text-align: left;
  justify-content: center;
  align-items: center;
  margin: var(--crud-spacing);
}

form>:nth-child(n) {
  margin-bottom: 2vh;
  margin: 0 auto;
  justify-content: center;
  width: 600px;
}