@import url('../variables.css');

.form>* {
    color: var(--polar);
}

.form {
    width: 50vw;
    margin: 0 auto;
}

.form h1 {
    text-align: center !important;
}

.form h3 {
    margin: 5% 0 1%;
}

.form>form>:last-child {
    text-align: center !important;
    margin-top: 5%;
}

.form .input-div {
    margin-top: 1% !important;
}

.form select {
  color: black;
  height: 8vh !important;
  padding-left: 1.85vh;
}

.form .button {
    height: 5.5vh !important;
    text-align: center !important;
    margin-top: 10vh !important;
    padding: 0;
}

@media (max-width: 900px) {
    .form {
        width: 60vw;
    }
}

@media (max-width: 500px) {
    .form {
        width: 70vw;
    }
}

@media (max-width: 380px) {
    .form {
        width: 85vw;
    }
}

@media (max-width: 300px) {
    .form>:first-child {
        width: 95vw;
    }

    .form {
        width: 90vw;
    }
}