#filter-bar * {
  color: var(--black);
  background-color: transparent;
  border: 0;
  user-select: none;
}

#filter-bar {
  display: flex;
  text-align: initial;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  overflow-x: auto;
  height: 8vh;

  background-color: var(--polar);
  border-bottom: var(--border-traced);
  border-color: var(--grey);

  flex-wrap: wrap;
  gap: 2vw;
}

#filter-bar>:first-child {
  width: 80%;
}

#filter-bar>:last-child {
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-decoration: underline;
}

#filter-bar>:last-child a {
  min-width: 10vw;
}

#filter-bar form {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Margens do filtro */

#filter-bar form>:first-child {
  margin-left: 2%;
}

#filter-bar form>:last-child {
  margin-right: 2%;
}

#filter-bar form div {
  display: flex;
  justify-content: first baseline;
  align-items: center;
  width: 40%;
}

#filter-bar form button {
  width: 20%;
  color: var(--black);
}

select, input {
  height: min-content !important;
}

#filter-bar select {
  border: 0;
  background-color: transparent;
  color: var(--black);
}

#filter-bar img, #filter-bar label {
  width: var(--icon);
  height: var(--icon);
}

/* Submeter ↓ */
#filter-bar>:first-child>:last-child {
  width: 8%;
  cursor: pointer;
}

@media (max-width: 900px) {
  #filter-bar>:last-child {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block; 
  }
}

#filter-bar>div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#filter-bar a {
  text-align: center;
  color: var(--black);
  font-size: 0.85em !important;
  width: fit-content;
  margin-right: 47%;
}

.bar {
  height: 32px;
  width: 3px;
  background-color: var(--grey) !important;
}

#filter-bar form button {
  background-color: var(--orange);
  color: var(--polar);
  border-radius: 2px;
  height: 24px;
  width: 12% !important;

  cursor: pointer;
  user-select: none;
}

select {
  width: 80%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; 
}

@media (max-width: 860px) {
  #filter-bar form button {
    width: 20% !important;
  }
}

@media (max-width: 700px) {
  #filter-bar {
    height: 9vh;
  }
}