@import url('../variables.css');

table {
    color: var(--black);
    border-collapse: collapse;
    width: 100%;
}

thead {
    background-color: var(--grey);
    user-select: none;
}

table {
    display: table;
    white-space: normal;
}

tbody {
    background-color: var(--polar);
    overflow-x: auto;
}

.actions {
    display: inline-flex;
    justify-content: center;
    margin: 0 auto;
    gap: var(--crud-table-icons-gap);
}

.actions form {
    padding: var(--crud-table-icons-padding);
}

.actions * {
    border: 0;
    width: var(--crud-table-icons-width);
    height: var(--crud-table-icons-height);
    cursor: pointer;
}

.actions>:first-child {
    background-color: var(--blue);
}

.actions>:nth-child(2) {
    background-color: var(--yellow);
}

.actions>:last-child {
    background-color: var(--red);
}

.actions>:nth-child(n)>* {
    background-color: transparent;
}

.disable>:last-child {
    width: 40%;
    color: var(--polar);
    cursor: pointer;
    background-color: var(--red);
    text-align: center !important;
    padding: 0;
    height: 6vh !important;
    border: 0;
    text-decoration: underline;
}

.disable>:last-child>form>* {
    cursor: pointer;
    background-color: var(--red);
    color: var(--polar);
    height: var(--crud-table-icons-height);
    width: calc((var(--crud-table-icons-width) * 3) + (var(--crud-table-icons-gap) * 2) + (var(--crud-table-icons-padding) * (2 * 3)));
    border-color: var(--red) !important;
}

#closed {
    display: none;
}

/* Scrollbar ↓ */
/* table ::-webkit-scrollbar {
    display: block;
    width: 8px;
}

table ::-webkit-scrollbar-track {
    background: var(--polar);
}

table ::-webkit-scrollbar-thumb {
    background: var(--grey);
}

table ::-webkit-scrollbar-thumb:hover {
    background: var(--orange);
} */

#wrap {
    overflow: auto;
    width: 80vw;
}

tbody tr {
  position: relative;
}

tbody tr:not(:last-child)::after {
  content: "";
  position: absolute;
  left: 4%;
  width: 76%;
  bottom: 0;
  border-bottom: var(--border-table);
  border-color: var(--grey);
}

th {
    padding: 0.8% 0;
}

td {
    padding: 1.25% 0;
}

tbody>:first-child>td {
    padding-top: 2.2%;
}

tbody>:last-child>td {
    padding-bottom: 2.2%;
} 