@import url('../variables.css');

table {
    color: var(--black);
    border-collapse: collapse;
    width: 80vw;
}

thead {
    background-color: var(--grey);
}

tbody, table>:last-child {
    background-color: var(--polar);
}

thead, tbody {
    text-align: center;
    vertical-align: middle;
}

th, td {
    justify-content: center; /* centraliza horizontalmente */
    align-items: center; 
}

th {
    padding: 8px 0;
}

td {
    padding: 12px 0;
    border-bottom: solid var(--grey) 2px;
}

tr {
    align-items: center;
}

tr>:last-child {
    margin: auto 0;
}

tbody>:first-child>* {
    padding-top: 16px;
}

tbody>:last-child>* {
    padding-bottom: 16px;
    border-bottom: transparent;
}

.actions {
    display: inline-flex;
    justify-content: center;
    margin: 0 auto;
    gap: 8px;
}

.actions form {
    padding: 4px;
}

.actions * {
    border: 0;
    width: 28px;
    height: 28px;
    cursor: pointer;
}

.actions>:first-child {
    background-color: var(--blue);
}

.actions>:nth-child(2) {
    background-color: var(--yellow);
}

.actions>:last-child {
    background-color: var(--red);
}

.actions>:nth-child(n)>* {
    background-color: transparent;
}