@import url('variables.css');

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  width: 100vw;
}

body {
  background-color: var(--black-oil);
  overflow-x: hidden;
}

body>* {
  padding: var(--section-spacing) 0;
}

img {
  -webkit-user-drag: none;
  user-select: none;
}

.wrap {
  margin: 0;
  padding: 0;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: fit-content;
  gap: 2vh;
}

footer #redirects {
  width: 35vw;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2vw;
}

footer * {
  color: var(--polar) !important;
}

footer #copy-right {
  font-size: small !important;
  text-align: center;
  user-select: none;
}

footer nav {
  width: 80%;
  margin: 0 auto;
}

footer>:first-child, footer>:nth-child(3) {
  margin-bottom: 2.5vh;
}

footer a {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  width: 40vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  user-select: none;
}

.navbar details {
  position: relative;
  display: inline-block;
}

.navbar details ul {
  position: absolute;
  top: 80%;
  left: 0;
  list-style: none;
  display: none;
  z-index: 100;
}

.navbar details ul>* {
  margin: 0;
  margin-top: 10%;
}

.navbar details[open] ul {
  display: block;
}


.navbar * {
  margin: 0 1%;
  transition: transform 0.25s ease-in-out, opacity 0.4s ease;
  opacity: 100%;
}

.navbar *:hover {
  transform: translateY(-3.5px);
  opacity: 75%;
}

.navbar>:first-child {
  margin-left: 0;
}

.navbar>:last-child {
  margin-right: 0;
}

.branding {
  width: auto;
  height: auto;
  background-color: transparent;
  border: 0;
}

.branding img {
  width: 25vh;
  height: auto;
}

a, a:visited, a:hover, a:active {
  text-decoration: none !important;
}

button, input, select, textarea {
  outline: none;
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 2.5vh 0;
  padding-left: 1.85vh;
}

textarea {
  background-color: var(--polar);
  width: 100%;
  min-height: var(--input-height);
  padding-left: 12px;
  padding-top: 2%;
  text-align: left !important;

  border: 0;
  border-bottom: var(--border-traced);
  border-color: var(--grey);
}

input, .form select {
  background-color: var(--polar);
  width: 100%;
  max-width: 100%;
  height: var(--input-height);
  padding: 2.5vh 0;
  padding-left: 1.85vh;
  text-align: left !important;

  border: 0;
  border-bottom: var(--border-traced);
  border-color: var(--orange);

  word-wrap: break-word;
  text-overflow: ellipsis;
  
  transition: border-color 0.4s ease-in-out;
}

input::placeholder, textarea::placeholder {
  color: var(--black);
  opacity: 80%;
}

input:valid {
  border-color: var(--green) !important;
}

input:user-invalid {
  border-color: var(--red) !important;
}

input.password {
  border-color: var(--orange) !important;
}

input[readonly] {
  border-color: var(--blue) !important;
}

.input-div {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.input-div>* {
  margin-top: 1%;
}

.input-div input {
  box-sizing: border-box;
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.obligate {
  color: var(--red);
}

input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none; /* garante que não apareça o estilo padrão */
}

input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
    display: none;
}

input[type="password"]::-webkit-textfield-decoration-container {
    display: none;
}

input[type="password"]::-webkit-credentials-auto-fill-button {
    visibility: hidden;
    display: none !important;
    pointer-events: none;
}

input[type="password"]::-webkit-textfield-decoration-container,
input[type="password"]::-webkit-clear-button,
input[type="password"]::-webkit-inner-spin-button {
    display: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.button {
  display: inline-block;
  background-color: var(--orange);
  color: var(--white) !important;
  border-radius: var(--border-small);
  text-align: center;
  position: relative;
  border: 0;

  cursor: pointer;
  user-select: none;
  transition: all 0.5s;
  transition: transform 0.5s !important;
}

.button:hover {
  transform: translate(0, -8px) !important;
}

.button:active {
  transform: translate(0, 1px) !important;
}

/*
  A classe .contact é apenas um nome de diferenciação dos botões
  utilizados no crud pra landing, no caso apenas suas medidas
  de box
*/

a.contact {
  padding: 2vh 8vh;
  font-size: 0.75rem;
}

button.submit {
  height: 28px;
}

#unset {
  margin: unset;
}

.icon {
  display: block;
  width: var(--icon);
}

.block {
  display: flex;
  border: 6px solid var(--orange);
  margin: 0 auto;
  margin-bottom: 2vh;
  padding: 8px 0;
  width: 18vw;
  min-width: 180px;
}

@media (max-width: 200px) {
  .block {
    display: none;
  }
}

@media (max-width: 500px) {
  .block {
    min-width: 150px;
  }
}

@media (max-width: 350px) {
  .block {
    width: 40vw;
    min-width: 100px;
  }
}

.arrow {
  width: var(--icon) !important;
  height: var(--icon) !important;
}

.toggle {
  background-color: transparent;
  border: 0;
  font-size: larger !important;
}

.medias {
  width: 160px;
  justify-content: space-around;
  align-items: center;
}

.medias>a {
  padding: 6px;
  border-radius: 50%;
}

.medias>a:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

/* Removendo a Scrollbar das páginas ↓ */
::-webkit-scrollbar {
  display: none;
}

#background-universal {
  background-image: url('../img/background/hero.jpg');
  background-size: 405vh;
  background-position: top;
  background-attachment: local;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 50vw;
  min-width: 200px;
  
  margin-bottom: var(--section-gap);
}

.inner {
  box-shadow: var(--inner-shadow);   
  background-color: var(--background-shadow);
  border-radius: var(--border-small);
  color: var(--black);
  padding: 3%;
}

.box {
  background-color: var(--polar) !important;
  padding: 8px;
  width: var(--icon);
  height: var(--icon);
  border-radius: var(--border-medium);
}

#land {
  display: flex;
  flex-direction: column;
}

#land>* {
  padding: var(--section-spacing);
}

.major {
  width: 100vw;
  height: auto;
}

.major>* {
  padding: 4% 0;
  width: 50vw;
  margin: 0 auto;
}

main {
  padding: 0;
}

@media (max-width: 400px) {
  footer #redirects {
    display: none;
  }
}
