@import url('../variables.css');

#cta>* {
    color: var(--black);
}

#cta {
    margin: 0 !important;
    padding: 15vh 0 40vh;
    background-image: url('../../img/background/ctaf2.jpg');
    background-size: cover;
    background-position: 50% 22%;
    background-repeat: no-repeat;
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    text-align: center;
}

#cta>div {
    padding: 0;
    margin: 0 0 7vh;
}

@media (max-width: 1000px) {
    #cta {
        background-size: 170%;
        background-position: 50% 0;
    }
}

@media (max-width: 800px) {
    #cta {
        background-size: 250%;
        background-position: 50% 0;
        padding-bottom: 15vh;
    }
}

@media (max-width: 690px) {
    #cta .title {
        width: 90vw;
    }
    
    #cta p {
        width: 70%;
    }
}

@media (max-width: 400px) {
    #cta {
        background-size: 350%;
        background-position: 34% 0;
        padding-bottom: 15%;
    }

    #cta h2, #cta h1 {
        width: 90vw;
    }
}