@import url('../variables.css');

#features>* {
    color: var(--polar);
}

#features {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: fit-content;
    gap: var(--section-gap);
    padding-top: var(--section-gap);
    padding-bottom: 0 !important;
}

#features>.title:first-of-type {
    width: 50vw;
}

#features-wrap {
    background-color: var(--polar);
}

#carousel {
    overflow: hidden;
    height: 30vh;
    width: 60vw;
}

#slides-wrap {
    display: flex;
    animation: slide 10s linear infinite;
    width: 50vw;
    gap: 2vw;
}

#carousel {
    overflow: hidden;
    display: flex;
}

.slides {
    display: flex;
}

.slide {
    flex: 0 0 auto;
    width: 15vw;
    min-width: 250px;
}

.slide h2,
.slide>:first-child {
    margin-bottom: 2.5%;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

#defs-wrap {
    background-color: var(--orange);
}

#defs {
    display: flex;
    gap: 15%;
}

#defs h3,
#defs p {
    color: var(--polar);
}

#defs>* {
    width: 50%;
}

#defs section {
    width: 60vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#defs section>div {
    display: flex;
    justify-content: left;
    align-items: stretch;
    margin-bottom: 5%;
    width: 100%;
}

#defs section>:last-child {
    margin-bottom: 0;
}

#defs section>div>:first-child {
    margin-right: 5%;
}

@media (max-width: 800px) {
    #features>.title:first-of-type p {
        width: 80vw;
    }

    .slide {
        width: 20vw;
    }

    #defs {
        width: 75vw;
    }

    #defs>section {
        width: 100%;
    }
    
    #defs p {
        width: 100%;
    }
}

@media (max-width: 530px) {
    #features .title, #features-wrap, #defs-wrap {
        padding: var(--incremental-spacing) 0;
    }
}

@media (max-width: 400px) {
    #defs {
        width: 90vw;
        max-height: 50vh;
    }
    
    #slides-wrap {
        justify-content: center;
        align-items: stretch;
        width: 100%;
        gap: 5vw;
    }

    #slides-wrap .slide {
        height: 90% !important;
    }

    #carousel {
        overflow-x: visible;
        width: 90vw;
    }

    .slide {
        width: 100%;
        flex: 0 0 auto;
        max-height: none;
        overflow: visible;
        position: relative;
    }

    .slide>* {
        margin-left: 5%;
    }

    #defs {
        max-height: none;
    }

    #defs section {
        height: fit-content;
    }
}